﻿@{
    ViewBag.Title = "Management Panel";
    Layout = "_Layout";
}
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item">Admin</li>
</ol>
<hr />
<div class="row ml-1 my-3">
    <div class="card text-white bg-primary col-xl-2 col-md-5 my-3">
        <div class="card-header text-center"><i class="far fa-list-alt"></i> Number of Skills</div>
        <div class="card-body">
            <p class="card-text text-center">@ViewBag.SkillCount</p>
        </div>
    </div>
    <div class="card text-white bg-warning col-xl-2 col-md-5 my-3 offset-md-1">
        <div class="card-header text-center"><i class="fas fa-images"></i> Number of Sliders</div>
        <div class="card-body">
            <p class="card-text text-center">@ViewBag.SliderCount</p>
        </div>
    </div>
    <div class="card text-white bg-danger col-xl-2 col-md-5 my-3 offset-xl-1">
        <div class="card-header text-center"><i class="fas fa-sms"></i> Number of Messages</div>
        <div class="card-body">
            <p class="card-text text-center">@ViewBag.MessageCount</p>
        </div>
    </div>
    <div class="card text-white bg-success col-xl-2 col-md-5 my-3 offset-md-1">
        <div class="card-header text-center"><i class="fas fa-university"></i> Number of Educations</div>
        <div class="card-body">
            <p class="card-text text-center">@ViewBag.EducationCount</p>
        </div>
    </div>
    <div class="card text-white bg-primary col-xl-2 col-md-5 my-3">
        <div class="card-header text-center"><i class="far fa-address-card"></i> Number of Experiences</div>
        <div class="card-body">
            <p class="card-text text-center">@ViewBag.ExperienceCount</p>
        </div>
    </div>
    <div class="card text-white bg-warning col-xl-2 col-md-5 my-3 offset-md-1">
        <div class="card-header text-center"><i class="fas fa-snowboarding"></i> Number of Hobbies</div>
        <div class="card-body">
            <p class="card-text text-center">@ViewBag.HobbyCount</p>
        </div>
    </div>
    <div class="card text-white bg-danger col-xl-2 col-md-5 my-3 offset-xl-1">
        <div class="card-header text-center"><i class="far fa-newspaper"></i> Number of Articles</div>
        <div class="card-body">
            <p class="card-text text-center">@ViewBag.ArticeCount</p>
        </div>
    </div>
    <div class="card text-white bg-success col-xl-2 col-md-5 my-3 offset-md-1">
        <div class="card-header text-center"><i class="fas fa-th-list"></i> Number of Categories</div>
        <div class="card-body">
            <p class="card-text text-center">@ViewBag.CategoryCount</p>
        </div>
    </div>
</div>
