@model PersonalBlog.Entities.Dtos.SiteDtos.SiteDto

@{
    ViewBag.Title = "Site Identity details";
}
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item"><a asp-area="Admin" asp-action="Index" asp-controller="Home">Admin</a></li>
    <li class="breadcrumb-item"><a asp-area="Admin" asp-action="Index" asp-controller="Site">Site identity</a></li>
    <li class="breadcrumb-item">Site identity details</li>
</ol>
<hr />
<div>
    <h2 class="text-center">Site Identity Informations</h2>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Site Title
        </dt>

        <dd>
            @Model.Site.siteName
        </dd>

        <dt>
            Seo Etiketleri
        </dt>

        <dd>
            @Model.Site.siteKeywords
        </dd>

        <dt>
            Site Açıklama
        </dt>

        <dd>
            @Model.Site.Description
        </dd>

        <dt>
            Site Logo
        </dt>

        <dd style="font-size:30px">
            @Html.Raw(Model.Site.Logo)
        </dd>

        <dt>
            Logo Title
        </dt>
        <dd>
            @Model.Site.LogoTitle
        </dd>

        <dt>
           Created Time
        </dt>
        <dd>
            @Model.Site.CreatedTime
        </dd>

        <dt>
            Created By
        </dt>
        <dd>
            @Model.Site.CreatedByName
        </dd>

        <dt>
            Created Time
        </dt>
        <dd>
            @Model.Site.ModifiedTime
        </dd>

        <dt>
            Created By
        </dt>
        <dd>
            @Model.Site.ModifiedByName
        </dd>
    </dl>
</div>
<div class="btn-group" role="group" aria-label="Basic example">
    <a asp-action="Edit" asp-controller="Site" asp-area="Admin" asp-route-id="@Model.Site.ID" class="btn btn-primary"><i class="fas fa-edit"></i> Details</a>
    <a class="btn btn-warning" asp-action="Index" asp-controller="Site" asp-area="Admin"><i class="fas fa-info-circle"></i> Return</a>
</div>
