@model PersonalBlog.Entities.Dtos.SlidersDto

@{
    ViewBag.Title = "Delete Slider";
}

<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item"><a asp-area="Admin" asp-action="Index" asp-controller="Home">Admin</a></li>
    <li class="breadcrumb-item"><a asp-area="Admin" asp-action="Index" asp-controller="HomePageSliders">Sliders</a></li>
    <li class="breadcrumb-item">Delete Sliders</li>
</ol>
<hr />
<div>
    <h2 class="text-center">Slider Details</h2>
    <hr />
    <h3>Do you want to delete the slider with @Model.Sliders.Title's Title from Database?</h3>
    <dl class="dl-horizontal">
        <dt>
            Title
        </dt>
        <dd>
            @Model.Sliders.Title
        </dd>

        <dt>
            Short Content
        </dt>
        <dd>
            @Model.Sliders.ShortContent
        </dd>

        <dt>
            Is Deleted?
        </dt>
        <dd>
            @Model.Sliders.IsDeleted
        </dd>

        <dt>
            Is Active?
        </dt>
        <dd>
            @Model.Sliders.IsActive
        </dd>

        <dt>
            Created Time
        </dt>
        <dd>
            @Model.Sliders.CreatedTime
        </dd>

        <dt>
            Created By
        </dt>
        <dd>
            @Model.Sliders.CreatedByName
        </dd>

        <dt>
            Modified Time
        </dt>
        <dd>
            @Model.Sliders.ModifiedTime
        </dd>

        <dt>
            Modified By
        </dt>
        <dd>
            @Model.Sliders.ModifiedByName
        </dd>

        <dt>Content</dt>
        <dd>
            @Html.Raw(Model.Sliders.Content)
        </dd>
    </dl>
</div>
<div class="btn-group" role="group" aria-label="Basic example">
    <a asp-action="DoHardDelete" asp-controller="HomePageSliders" asp-area="Admin" asp-route-id="@Model.Sliders.ID" class="btn btn-danger"><i class="fas fa-trash-alt"></i> Delete</a>
    <a class="btn btn-warning" asp-action="Index" asp-controller="HomePageSliders" asp-area="Admin"><i class="fas fa-undo"></i> Return</a>
</div>
