@model PersonalBlog.Entities.Dtos.EducationDtos.EducationDto

@{
    ViewBag.Title = "Delete  Education";
}

<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item"><a asp-area="Admin" asp-action="Index" asp-controller="Home">Admin</a></li>
    <li class="breadcrumb-item"><a asp-area="Admin" asp-action="Index" asp-controller="Education">Educations</a></li>
    <li class="breadcrumb-item">Delete Education</li>
</ol>
<hr />
<h2 class="text-center">Delete Education</h2>
<hr />
<h3>Do you want to delete the education with @Model.Education.educationTitle title from the database?</h3>
<hr />
<div>
    <dl class="dl-horizontal">
        <dt>Education</dt>
        <dd>@Model.Education.educationTitle</dd>

        <dt>School</dt>
        <dd>@Model.Education.School</dd>

        <dt>Education Duration</dt>
        <dd>@Model.Education.Duration</dd>

        <dt>Graduation Grade</dt>
        <dd>@Model.Education.GradePointAverage</dd>

        <dt>Description</dt>
        <dd>@Model.Education.Description</dd>

        <dt>Is Deleted?</dt>
        <dd>@Model.Education.IsDeleted</dd>

        <dt>Is Active?</dt>
        <dd>@Model.Education.IsActive</dd>

        <dt>Created Time</dt>
        <dd>@Model.Education.CreatedTime</dd>

        <dt>Created By</dt>
        <dd>@Model.Education.CreatedByName</dd>

        <dt>Modified Time</dt>
        <dd>@Model.Education.ModifiedTime</dd>

        <dt>Modified By</dt>
        <dd>@Model.Education.ModifiedByName</dd>
    </dl>
</div>
<div class="btn-group" role="group" aria-label="Basic example">
    <a asp-action="DoHardDelete" asp-controller="Education" asp-area="Admin" asp-route-id="@Model.Education.ID" class="btn btn-danger"><i class="fas fa-trash-alt"></i> Delete</a>
    <a class="btn btn-warning" asp-action="Index" asp-controller="Education" asp-area="Admin"><i class="fas fa-undo"></i> Return</a>
</div>