@model PersonalBlog.Entities.Dtos.ArticlesDtos.ArticlesListDto

@{
    ViewBag.Title = "List Of Articles";
}

<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item"><a asp-area="Admin" asp-action="Index" asp-controller="Home">Admin</a></li>
    <li class="breadcrumb-item">List Of Articles</li>
</ol>

<hr />

@if (Model.ResultStatus == ResultStatus.Success)
{
    <h2 class="text-center">List Of Articles</h2>
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table mr-1"></i>
            Articles&nbsp; <a asp-action="Add" class="btn btn-success"><i class="fas fa-plus"></i> Add Article</a>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="myDataTable" width="100%" cellspacing="0">
                    <thead class="thead-dark">
                        <tr>
                            <th>ID</th>
                            <th>Title</th>
                            <th>Article Icon</th>
                            <th>Overview</th>
                            <th>Content</th>
                            <th>Number of reads</th>
                            <th>Number of comments</th>
                            <th>Category</th>
                            <th>Seo Tags</th>
                            <th>Seo Description</th>
                            <th>Is Deleted?</th>
                            <th>Is Active?</th>
                            <th>Created Time</th>
                            <th>Created By</th>
                            <th>Modified Time</th>
                            <th>Modified By</th>
                            <th>Operation</th>
                        </tr>
                    </thead>
                    <tfoot class="thead-dark">
                        <tr>
                            <th>ID</th>
                            <th>Title</th>
                            <th>Article Icon</th>
                            <th>Overview</th>
                            <th>Content</th>
                            <th>Number of reads</th>
                            <th>Number of comments</th>
                            <th>Category</th>
                            <th>Seo Tags</th>
                            <th>Seo Description</th>
                            <th>Is Deleted?</th>
                            <th>is Active?</th>
                            <th>Created Time</th>
                            <th>Created By</th>
                            <th>Modified Time</th>
                            <th>Modified By</th>
                            <th>Operation</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var item in Model.Articles)
                        {
                            <tr>
                                <td>@item.ID</td>
                                <td>@item.Title</td>
                                <td>
                                    <img class="img-fluid img-thumbnail" style="max-width:200px" src="@item.Thumbnail" />
                                </td>
                                <td>@item.Overview.Substring(0, 100)</td>
                                <td>

                                    To see the content go to <a asp-action="Details" asp-route-id="@item.ID" title="Look at the details">details</a>

                                </td>
                                <td>@item.Views</td>
                                <td>@item.Comments.Count()</td>
                                <td>@item.Categories.Name</td>
                                <td>@item.SeoTags</td>
                                <td>
                                    @if (item.SeoDescription.Length >= 50)
                                    {
                                        @item.SeoDescription.Substring(0, 50)
                                    }
                                    else
                                    {
                                        @item.SeoDescription
                                    }
                                </td>
                                <td>@item.IsDeleted</td>
                                <td>@item.IsActive</td>
                                <td>@item.CreatedTime.ToShortDateString()</td>
                                <td>@item.CreatedByName</td>
                                <td>@item.ModifiedTime.ToShortDateString()</td>
                                <td>@item.ModifiedByName</td>
                                <td>
                                    <div class="btn-group" role="group" aria-label="Basic example">
                                        <a class="btn btn-primary" asp-area="Admin" asp-controller="Articles" asp-action="Edit" asp-route-id="@item.ID" title="Edit"><i class="fas fa-edit"></i></a>
                                        <a class="btn btn-secondary" asp-area="Admin" asp-controller="Articles" asp-action="Details" asp-route-id="@item.ID" title="See details"><i class="fas fa-info-circle"></i></a>
                                        <a class="btn btn-danger" asp-area="Admin" asp-controller="Articles" asp-action="HardDelete" asp-route-id="@item.ID" title="Delete from Database"><i class="fas fa-trash-alt"></i></a>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}